@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    scroll-behavior: smooth;
}

body {
    @apply font-body
}

.top-banner > h1 {
    font-family: 'Courier New';
}

.icon {
    width: 32px;
    height: 32px;
}

.heading-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: #212121;
    }
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: #212121;
        color: #fefefe;
    }
} */