.dark {
    background-color: #212121;
    color: #fefefe;
    transition: 0.5s;
}

.light {
    background-color: white;
    color: #212121;
    transition: 0.5s;
}

.themeToggle {
    @apply fixed top-0 right-0 p-2 cursor-pointer
}